
.top-barColor{
 background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.link{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link:hover {
  background-color: rgba(164, 244, 255, 0.931);
  font-size: larger;
  
}

.navlink:hover{
  background-color: rgba(191, 255, 239, 0.931);
  font-size: larger;
}


.myImg{
  height: 400px;
  width: 200px;
  padding-top: 5em;

}
.heading-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  align-content: center;
  text-align: center;
  background-color:rgb(117, 181, 206. 0.5);
  opacity: .75;
  width: 60%;
  margin: auto;
  border-radius: 10px;
 }
.heading-text h1{
  font-size: 80px;
  font-weight: bold;
  color:white;
  text-align: center;
}
.heading-text p{
  color: white;
  font-size: 22px;
  padding: 1em;
}
.social-media{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin:auto;
}
.social-media i{
  color: white;
  font-size: 6em;
  padding: 8px;
}
