
.top-barColor{
/* 
background: #114357;  
background: -webkit-linear-gradient(to right, #F29492, #114357);  
background: linear-gradient(to right, #F29492, #114357); */
background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.link{
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-size: large;
  
}

.link:hover {
  /*background-color: rgba(235, 164, 255, 0.931);*/
 /* background-color: #b39eb5;*/
  background-color:#ffbbd194;
  font-size: larger;
  font-weight: bolder;
  
}

.navlink:hover{
  background-color: #e9d1f3a9;
  font-size: larger;
  font-weight: bolder;
}

.project-grid{
  display: flex;
  height: 550px;
}
.btn:hover{
  background-color: rgb(213, 171, 214);
}

.myImg{
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%, -50%);
  padding: 10px;
  height: 300px;
  padding-top: 5em;

}
.quote{
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
}
.page-clr{
 background-color: white;
}
.heading-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  align-content: center;
  text-align: center;
  background-color:rgb(117, 181, 206. 0.5);
  opacity: .75;
  width: 60%;
  margin: auto;
  border-radius: 10px;
 }
.heading-text h1{
  font-size: 80px;
  font-weight: bold;
  color:white;
  text-align: center;
}
.heading-text p{
  color: white;
  font-size: 22px;
  padding: 1em;
}
.social-media{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin:auto;
}
.social-media i{
  color: white;
  font-size: 6em;
  padding: 8px;
}
.tab-design{
  font-weight: bold;
  font-style: italic;
  color: white;
}
.tab-design:hover{
  font-weight: bolder;
  font-size: larger;
  background-color: #ffbbd194;

}
p {
  position: relative;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(255, 88, 144), #fff, rgb(109, 184, 207));
  background-repeat: no-repeat;
  background-size: 90%;
  animation: animate 7s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0)
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 900%;
  }
}