
.top-barColor {
  background: -webkit-linear-gradient(to right,#1D2B64, #a186fb,#F8CDDA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#1D2B64, #a764c2, #F8CDDA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.myportfolio-title:hover{
  font-size: larger;
  
}

.link {
  font-size: large;
}
/*.slink {
  font-size: large;
}
*/
.slink:hover {
  font-size: larger;
  font-weight: bolder;
  
}
.link:hover {
  background-color: #f6b0ff;
  font-size: larger;
  font-weight: bolder;
  opacity: 0.9;
}

.navlink:hover{
 /* background: linear-gradient(to right,#f6b0ff, white);*/
  font-size: larger;
  font-weight: bolder;
}
i:hover{
  opacity: .5;
}
.project-grid {
  display: flex;
  padding-top: 60px;
  
  
}
.project1{
display: flex;
align-items: flex-start;
flex-wrap: wrap;
padding-top: 60px;

/*padding-top: 60px;
display: flex;
flex-wrap: wrap;*/
}

.btn:hover {
  background-color: #f6b0ff;
}

.myImg {
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%, -50%);
  padding: 10px;
  height: 300px;
  padding-top: 5em;
}
.quote {
  position: absolute;
  left: 50%;
  top: 42%;
  /*transform: translate(-50%, -50%);*/
  transform: translate(-60%, 0);
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.contact {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  color: white;
  /* font-size: 22px;*/
}
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 0em;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.form-btn {
  width: 15%;
  height: 3%;
  background-color: rgb(230, 176, 255);
  color: #1D2B64;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  
}
.form-btn:hover {
  background-color: rgb(234, 190, 255);
  font-size: large;
  font-weight: bolder;
  opacity: 0.7;
}
.input-design{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  width: 10%;
  height: 3%;
  background-color:#fbe3fd;
  color: rgb(93, 3, 116);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
.input-design:hover{
  opacity: 1;
}
.form-design{
padding-left: 20px;
 padding-top: 0%;
 padding-right: 30px;
 
}
.contact-list {
  padding-left: 160px;
}
.contact-list i {
  font-size: 50px;
  padding-right: 40px;
}

.contact-list i:hover {
  font-weight: bolder;
}

.contact-list .linkedln:hover {
  background-color: rgb(230, 176, 255);
  font-size: larger;
  font-weight: bolder;
}
.form {
  padding-top: 30px;
}
.education-title:hover {
  font-weight: bolder;
  background-color:  rgb(230, 176, 255);
}
.skills-title:hover {
  font-weight: bolder;
  background-color:  rgb(230, 176, 255);
}
.chk-title:hover {
  font-weight: bolder;
  background-color:  rgb(230, 176, 255);
}
.resumeInfo {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}
.resume_link {
  font-size: 40px;
}
.resume_link:hover {
  background-color:  rgb(230, 176, 255);
  font-size: larger;
  font-weight: bolder;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(252, 252, 252);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  font-size: 12px;
  background-color: rgb(255, 251, 251);
  color: rgb(129, 78, 153);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(255, 250, 250) transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.page-clr {
  background-color: white;
}
.heading-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  align-content: center;
  text-align: center;
  background-color: rgb(117, 181, 206 0.5);
  opacity: 0.75;
  width: 60%;
  margin: auto;
  border-radius: 10px;
}
.heading-text h1 {
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.heading-text p {
  color: white;
  font-size: 22px;
  padding: 1em;
}
.social-media {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}
.social-media i {
  color: white;
  font-size: 6em;
  padding: 8px;
}
.tab-design {
  font-size: large;
  font-weight: bold;
  font-style: italic;
  color: white;
}
.tab-design:hover {
  font-weight: bolder;
  font-size: larger;
  background-color: #ffcada;
}
h6 {
  position: relative;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(249, 188, 255),
    #ffff,
    #472d8f
  );
  background-repeat: no-repeat;
  background-size: 90%;
  animation: animate 7s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 900%;
  }
}
